{# app/Resources/views/article/recent_list.html.twig #} 

{% extends 'base.html.twig' %}

{% block body %} 
<div >
    <table class="table table-bordered" ng-app='app-sym-ang'>
        <thead>
            <tr class="tr-header" ng-controller='sortController' >
                <th ng-view class="th-country" ng-click="sortBy('country')"  >
                    Страна       
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </th>
                <th class="th-city" ng-click="sortBy('city')">
                    Город
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </th>
                <th class="th-street" ng-click="sortBy('street')">
                    Улица
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </td>
                <th class="th-house-number" ng-click="sortBy('houseNumber')">
                    Дом
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </th>
                <th class="th-postcode" ng-click="sortBy('postcode')">
                    Индекс
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </th>
                <th class="th-date" ng-click="sortBy('creqted')">
                    Дата
                    <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                </th>
            </tr>
            <tr class="tr-filter" ng-controller='filterController'>
                <td class="td-country">
                    <form class="form-inline">
                        <div class="form-group">
                            <filter-country data-country-list="countryList"  data-placeholder="Страна"></filter-country>
                        </div> 
                        
                    </form>
                    
                </td>
                <td class="td-city">
                    <form class="form-inline">
                        <div class="form-group">
                            <filter-city data-city-list="cityList"   data-placeholder="Город"></filter-city>
                        </div>
                    </form>
                </td>
                <td class="td-street">
                    <form class="form-inline">
                        <div class="form-group">
                            <filter-street data-street-list="streetList" data-placeholder="Улица"></filter-street>
                            
                        </div>
                    </form>
                </td>
                <td class="td-house-number">
                    <input ng-model="factoryAddress.sliderNumberHouseValue" type="text" id="sliderNumberHouse" slider options="sliderNumberHouseOptions" />
                </td>
                <td class="td-postcode">
                    <form class="form-inline">
                        <div class="form-group">
                            <filter-postcode data-postcode-list="postcodeList" data-placeholder="Индекс"></filter-postcode>
                        </div>
                    </form>
                </td>
                <td class="td-date" ng-controller="MyController as ctrl">
                
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">From</label>
                          <div class="col-sm-10">
                              <p class="input-group">
                                  <input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="ctrl.picker4.date" is-open="ctrl.picker4.open" enable-time="false" datepicker-options="ctrl.picker4.datepickerOptions" />
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker4')"><i class="fa fa-calendar"></i></button>
                              </span>
                              </p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">To</label>
                          <div class="col-sm-10">
                              <p class="input-group">
                                  <input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="ctrl.picker5.date" is-open="ctrl.picker5.open" enable-time="false" datepicker-options="ctrl.picker5.datepickerOptions" />
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker5')"><i class="fa fa-calendar"></i></button>
                              </span>
                              </p>
                          </div>
                      </div>
                  </form>
                </td>
                
            </tr>
        </thead>
        
    
        <tbody ng-controller='viewController'>
            <tr  ng-repeat="(key, value) in factoryAddress.value">
                <td class="td-country">{{ '{{ value.country }}' }}</td>
                <td class="td-city">{{ '{{ value.city }}' }}</td>
                <td class="td-city">{{ '{{ value.street }}' }}</td>
                <td class="td-house-number">{{ '{{ value.houseNumber }}' }}</td>
                <td class="td-postcode">{{ '{{ value.postcode }}' }}</td>
                <td class="td-date">{{ '{{ value.created }}' }}</td>
            </tr>
            
        </tbody>
    </table>
    <img src="{{ absolute_url(asset('image/loading.gif')) }}" class="img-loading" alt="Symfony!" />
</div>
{% endblock %}


