<!DOCTYPE html>
<html class="no-js" lang="" ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/ng-table/dist/ng-table.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-date-range-picker/dist/daterangepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/custom/css/custom.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/angular-resource/angular-resource.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-ui/ui/minified/widget.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-ui/ui/minified/mouse.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-ui/ui/minified/slider.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-date-range-picker/dist/jquery.daterangepicker.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/ng-table/dist/ng-table.min.js') }}"></script>
            <script src="{{ asset('assets/custom/js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
