{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="b_lang">
            </div>
            <div class="b_table">
                <div ng-controller="addresstableController as addresstable">
                    <table ng-table="addresstable.tableParams" class="table table-bordered table-striped table-condensed">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Country'" filter="{country: 'text'}" sortable="'country'" class="td-country">{{ '{{row.country}}' }}</td>
                            <td data-title="'City'" filter="{city: 'text'}" sortable="'city'" class="td-city">{{ '{{row.city}}' }}</td>
                            <td data-title="'Street'" filter="{street: 'text'}" sortable="'street'" class="td-street">{{ '{{row.street}}' }}</td>
                            <td data-title="'House number'" filter="{houseNumber: 'text'}" sortable="'houseNumber'" class="td-housenumber">{{ '{{row.houseNumber}}' }}</td>
                            <td data-title="'Postcode'" filter="{postcode: 'text'}" sortable="'postcode'" class="td-postcode">{{ '{{row.postcode}}' }}</td>
                            <td data-title="'Date'" filter="{created: 'text'}" sortable="'created'" class="td-created">{{ '{{row.created.date}}' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
